{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <div class="card">
                    <div class="card-header bg-info">
                        <h3 class="card-title">Profile</h3>
                        <img src="{{ url_for('static', filename='uploads/users/' + user.image) }}" alt="{{ user.firstname }}" class="img-thumbnail ms-auto" style="width: 100px; height:100px;  border-radius: 50%; margin-top: 10px;position: absolute; top: 0; right: 10px;">
                    </div>
                    <div class="card-body">
                        <p><strong class="text-info"><i class="fa fa-user "></i> Fullname:</strong> {{ user.firstname }} {{ user.lastname }}</p>
                        <p><strong class="text-info"><i class="fa fa-envelope "></i> Email:</strong> {{ user.email }}</p>
                        <p><strong class="text-info"><i class="fa fa-phone "></i> Phone:</strong> {{ user.phone }}</p>
                        <p><strong class="text-info"><i class="fa fa-user "></i> Role:</strong> {{ user.role.name }}</p>
                        <p><strong class="text-info"><i class="fa fa-city "></i> City:</strong> {{ user.city }}</p>
                        <p><strong class="text-info"><i class="fa fa-map-marker "></i> Address:</strong> {{ user.address }}</p>
                        <p><strong class="text-info"><i class="fa fa-shipping-fast"></i> Zipcode:</strong> {{ user.zipcode }}</p>
                    </div>
                    <div class="card-footer">
                        <p><strong>Last Login:</strong> {{ user.last_login}}</p>
                        <p><strong>Member Since: {{ member_since }} </strong> Days ago</p>
                        <div class="d-flex justify-content-end m-3">
                        <a href="{{ url_for('auth.update_profile') }}" class="btn btn-primary m-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit Profile"><i class="fa fa-edit"></i> </a>
                        <a href="{{ url_for('auth.update_password') }}" class="btn btn-warning m-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Update Password"><i class="fa fa-edit"></i> </a>
                        <a href="{{ url_for('auth.reset_email_request') }}" class="btn btn-warning m-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Update Email"><i class="fa fa-edit"></i> </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5 overflow-auto">
        <h1 class="text-center badge bg-info fs-3 shadow">My Orders</h1>
        {% if my_orders %}
            <div class="col-md-12">
                <div class="table-responsive overflow-auto">
                    <div class="table-responsive">
                        <table class="table table-striped-bordered table-hover shadow mt-2 mb-5">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Order Date</th>
                                    <th>Products</th>
                                    <th>Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in my_orders %}
                                    <tr class="shadow border-bottom border-danger">
                                        <td>{{ order.id }}</td>
                                        <td><span class="badge bg-secondary">{{ order.created_at }}</span></td>
                                        <td>
                                            {% for product in purchased_products %}
                                               <span class="badge bg-primary">{{loop.index}}</span> <strong >{{ product.name }} </strong> <span class="badge bg-success">{{ product.quantity }}</span> | Price Per Unit: : {% if product.discount %} <del class="badge bg-danger">{{ product.price }}</del> {{ (product.price * (1 - product.discount / 100))| round(2)  }} {% else %} {{ product.price }} {% endif %} 
                                               <a href="{{ url_for('products.product', id=product.id) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View" ><i class="fa fa-eye"></i> </a>
                                               <hr>
                                            {% endfor %}
                                        </td>
                                        <td><span class="badge bg-success fs-3">{{ order.total_amount }} €</span></td>
                                        
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    </div>
    </div>
{% endblock %}