{% extends 'base.html' %} {% block content %}
<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
    </ol>
  </nav>
  <!-- loading... -->
  <div id="loader" style="display: none">
    <div class="spinner-grow text-danger" role="status"></div>
    <div class="spinner-grow text-warning" role="status"></div>
    <div class="spinner-grow text-info" role="status"></div>
  </div>
  <!-- end loading... -->
    <!-- All Brands realated to the category -->

  <div class="row">
    <!-- All categories in combo box -->
    <div class="col-md-12">
      <form method="post">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
            {{ form.category.label(class="input-group-text") }}
            {{ form.category(class="form-select") }}
            <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> Filter</button>
        </div>
    </form>
      </div>

    {% for product in products %}
    {% if product.category == category %}
    
    <div class="col-md-3">
      <div class="card m-1 position-relative shadow shine-effect">
        <img
          src="{{ url_for('static', filename='uploads/products/' + product.image) }}"
          class="card-img-center align-self-center"
          alt="{{ product.name }}"
          style="max-height: 200px; object-fit: contain;background-color: #fcf5f3"
        />
        <div class="position-absolute bg-brand text-white p-2 rounded-start top-0 end-0">
          {{ product.category }}
        </div>
        <div class="card-header">
          <h5 class="card-title">{{ product.name }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text badge bg-primary text-light">{{ product.price }} €</p>
        </div>
        <div class="card-footer">
          <a
            href="{{ url_for('products.add_to_basket', id=product.id) }}"
            class="btn btn-primary"
            ><i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i></a>
            {% if session['basket'] | length > 0 %}
            <a href="{{ url_for('products.basket') }}" class="btn btn-success"
              ><i class="fa fa-eye"></i> <i class="fa fa-shopping-basket"></i></a>
            <hr>
          
          <a href="{{ url_for('main.index') }}" class="btn btn-light d-flex justify-content-end"
              ></i> <i class="fa fa-home text-secondary"></i> </a>
            <hr>
          <a
            href="{{ url_for('products.product', id=product.id) }}"
            class="btn btn-light d-flex justify-content-end"
            ><i class="fa fa-info-circle text-danger m-1"></i>
            <span class="badge bg-danger text-light m-1">Details</span></a
          >
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  {% set displayed_brands = [] %}
  <hr>
  <div class="row d-flex justify-content-start ">
  {% for product in products %}
      {% if product.category == category and product.brand.name not in displayed_brands %}
              <div class="col-md-1 mb-5 g-2">
                <a href="{{ url_for('products.brand', brand_name=product.brand.name) }}"><img
                  src="{{ url_for('static', filename='uploads/brands/' + product.brand.logo) }}"
                  class="img-fluid rounded-circle ml-5"
                  alt="{{ product.name }}"
                  style="max-height: 200px; max-width: 100px; object-fit: contain;"
              /></a>
              </div>
              {% do displayed_brands.append(product.brand.name) %}
              {% endif %}
              {% endfor %}
            </div>
  </div>

  {% endblock %}
