{% extends 'base.html' %} {% block content %}
<h2>Edit Product</h2>
<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <form method="POST" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <div class="mb-3">
        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid name.</div>
        {% for error in form.name.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{form.description.label(class="form-label")}}
        {{form.description(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid description.</div>
        {% for error in form.description.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{form.price.label(class="form-label")}}
        {{form.price(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid price.</div>
        {% for error in form.price.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{form.instructions.label(class="form-label")}}
        {{form.instructions(class="form-control")}}
        <div class="invalid-feedback">Please provide valid instructions.</div>
        {% for error in form.instructions.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{form.ingredients.label(class="form-label")}}
        {{form.ingredients(class="form-control")}}
        <div class="invalid-feedback">Please provide valid ingredients.</div>
        {% for error in form.ingredients.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{form.size.label(class="form-label")}}
        {{form.size(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid size.</div>
        {% for error in form.size.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{form.weight.label(class="form-label")}}
        {{form.weight(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid weight.</div>
        {% for error in form.weight.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{form.ean.label(class="form-label")}}
        {{form.ean(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid ean.</div>
        {% for error in form.ean.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>

      <div class="mb-3">
        <img
          src="{{ url_for('static', filename='uploads/products/' + product.image) }}"
          class="img-fluid"
          alt="{{ form.name.data }}"
          style="
            width: 200px;
            height: 200px;
            margin-bottom: 10px;
            margin-top: 10px;
            border-radius: 50%;
            object-fit: contain;
          "
        />
        {{form.image(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid image.</div>
        {% for error in form.image.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>

      <div class="form-group">
        {{ form.pictures.label(class="form-label mb-0") }} 
        {{ form.pictures(class="form-control", multiple=True) }} 
        {% for picture in pictures %}
        <img
          src="{{ url_for('static', filename='uploads/products/' + picture) }}"
          class="img-fluid"
          alt="{{ form.name.data }}"
          style="width: 100px; height: 100px; object-fit: contain; margin-bottom: 10px;"
        />
        {% endfor %}
        <div class="invalid-feedback">Please provide valid pictures.</div>
        {% for error in form.pictures.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
    </div>
      <div class="mb-3">
        {{form.category.label(class="form-label")}}
        {{form.category(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid category.</div>
        {% for error in form.category.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      
      <div class="form-group">
        {{ form.brand.label(class="form-label") }}
        {{ form.brand(class="form-control" ,id = "brand") }}

        <div class="invalid-feedback">Please enter your brand.</div>
        {% for error in form.brand.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.videos.label(class="form-label") }}
        {{ form.videos(class="form-control", multiple=True) }}
        <div class="invalid-feedback">Please enter your videos.</div>
        {% for error in form.videos.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      {{ form.submit(class="btn btn-primary") }}
      <a href="{{ url_for('main.index') }}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
