{% extends 'base.html' %} {% block content %}
<h2>Edit Product</h2>
<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <form method="POST" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <div class="mb-3">
        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid name.</div>
        {% for error in form.name.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{form.description.label(class="form-label")}}
        {{form.description(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid description.</div>
        {% for error in form.description.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{form.price.label(class="form-label")}}
        {{form.price(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid price.</div>
        {% for error in form.price.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="mb-3">
        <img
          src="{{ url_for('static', filename='uploads/products/' + form.image.data) }}"
          class="img-fluid"
          alt="{{ form.name.data }}"
          style="width: 200px; height: 200px; margin-bottom: 10px;border-radius: 50%"
        />
        {{form.image(class="form-control")}}
        <div class="invalid-feedback">Please provide a valid image.</div>
        {% for error in form.image.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>

      <div class="form-group">
        {{ form.pictures.label(class="form-label mb-0") }} 
        {{ form.pictures(class="form-control", multiple=True) }} 
        {% for picture in pictures %}
        <img
          src="{{ url_for('static', filename='uploads/products/' + picture) }}"
          class="img-fluid"
          alt="{{ form.name.data }}"
          style="width: 100px; height: 100px"
        />
        {% endfor %}
        <div class="invalid-feedback">Please provide valid pictures.</div>
        {% for error in form.pictures.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="form-group">
        {{form.category.label(class="form-control-label")}}
        {{form.category(class="form-control")}}
        {% for error in form.category.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
      {{ form.submit(class="btn btn-primary") }}
      <a href="{{ url_for('main.index') }}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
