{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
      <h2>Title : {{ _(ticket.title) }}</h2>
      <p>Description: {{ _(ticket.description) }}</p>
      <p>Status: <span class="text-info">{{ _(ticket.status) }}</span></p>
      {% if ticket.image %}
      <img
        src="{{ url_for('static', filename='uploads/tickets/' ~ ticket.image) }}"
        alt="{{ _('Ticket Image') }}"
        class="img-thumbnail"
        style="max-width: 300px"
      />
      {% endif %}
      <h3>{{ _('Messages') }}</h3>
      <div class="messages" id="messages">
        {% for message in messages %}
        <div class="message">
          <strong class="text-primary">{{ _(message.user.firstname) }} {{ _(message.user.lastname) }}:</strong>
          <p>{{ _(message.message) }}</p>
          <span class="text-secondary">{{ _(message.created_at) }}</span>
        </div>
        {% endfor %}
      </div>
      {% if ticket.status != "resolved" %}
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.answer.label(class="form-control-label") }}
          {{ form.answer(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary mt-3") }}
      </form>
      {% endif %}
    </div>
  </div>
  <a href="{{ url_for('tickets.view_tickets') }}" class="btn btn-secondary mt-2 mb-5"
    ><i class="fas fa-arrow-left"></i> {{ _('Back') }}</a>
</div>
<script src="{{ url_for('static', filename='js/ticket.js') }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    startFetchingMessages({{ ticket.id }});
  });
</script>
{% endblock %}
